<h2>Vinyl Linux</h2>
<p>Vinyl Linux is a linux distribution, largely centered around its package manager, vin, and its init system, vinit</p>

<h2>Features</h2>
<ul>
  <li>Speed and extensibility- no mucking around with byzantine package manager configs</li>
  <li>Modern tooling- sha and md5 are slow and unwieldly. We've moved on. PGP signing package manifests. Why? Sod it, let git handle it</li>
  <li>Near zero-config init system with user configurable groups/targets, and minimal control footprint. Death to <del>tyrants!</del> init overreach!</li>
  <li>Low barrier to entry for contributing- why are we mucking about with granting access to servers/ mailing lists to make changes? Github/ gitlab/ gitea/ all of these solve these issues better. Slap a reasonably permissive CLA onto a repo somewhere, and let people do what they do.</li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/vinyl-linux">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/vinyl-linux">GitHub</a>
  </li>
</ul>
